[run]
branch = true
source = src/tygs
         tests/

[report]
fail_under = 80
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    pass
    noqa;
